
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='start.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Sigmar&display=swap" rel="stylesheet">
</head>



<div class="startcon">  
    <h1>Vitajte <br> v Pamäťovej hre!</h1>

    <a href="{{ url_for('auth.login') }}">
        <i class=" play fa-solid fa-circle-play"></i>
    </a>
    
    <a href="{{ url_for('info.info_page') }}" class="aboutbtn">
        <i class="fa-solid fa-circle-info"></i>
        <p>O hre</p>
    </a>
    
</div>
